.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// tong 

.navbar{
  padding: 10px 0;
  background-color: gray;
  height: 40px;
}
.sidebar{
  flex-basis: 20%;
  background-color: #61dafb;
  height: 100vh;
}
.noidung{
  flex-basis: 80%;
  background-color: beige;
}
.top{
  height: 25px;
  padding-bottom: 4px;
  background-color: #282c34;
  display: flex;
}
.top h3{
  margin-top: 0;
  color: white;
}
.top p{
  color: white;
}
